.llms-helper-dismiss {
	color: #dc3232;
	float: right;
}
.error a.llms-helper-dismiss { text-decoration: none; }

.llms-helper-activation-status .dashicons { vertical-align: middle; }
.llms-helper-activation-status .dashicons-warning { color: #dc3232; }
.llms-helper-activation-status .dashicons-yes { color: #46b450; }


.llms-helper-table th,
.llms-helper-table td {
	padding: 10px 15px;
}

.llms-helper-table th.llms-helper-bulk,
.llms-helper-table td.llms-helper-bulk {
	width: 15px;
}

.llms-helper-table th.llms-helper-bulk input[type="checkbox"] {
	margin: 0;
}

.llms-helper-table th.llms-helper-name,
.llms-helper-table td.llms-helper-name {
	width: 25%;
}
.llms-helper-table th.llms-helper-version,
.llms-helper-table td.llms-helper-version {
	width: 10%;
}
.llms-helper-table th.llms-helper-key,
.llms-helper-table td.llms-helper-key {
	width: 35%;
}
.llms-helper-table th.llms-helper-actions,
.llms-helper-table td.llms-helper-actions {
	width: 30%;
}

.llms-helper-table td input[type="text"] {
	width: 100%;
}

.llms-helper-table td pre {
	display: inline;
}

.llms-helper-table tr.type-regular td,
.llms-helper-table tr.message td {
	border-bottom: 1px solid #e5e5e5;
}

.llms-helper-table tr.message td {
	padding-bottom: 0;
	padding-top: 0;
}

.llms-helper-table tbody tr:last-child td {
	border-bottom: none;
}

.llms-helper-table tbody tr.stripe {
	background-color: #f9f9f9;
}

.llms-helper-bulk-actions {
	margin: 10px 0;
}
